################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/README.md
/vs-readme.txt
/.vs
/examples/ESP32_STATION3_TEMPLATE/.vs/ESP32_STATION3/v16
/examples/ESP32_STATION3_TEMPLATE/ESP32_STATION3/__vm
/examples/ESP32_STATION3_TEMPLATE/ESP32_STATION3/Release
